.header-logo {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  color: #d04f4f;
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
}

main {
  padding: 20px 100px 0px 100px;
}

.search-container {
  display: flex;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  border-radius: 5px;
}
.search-container .searchbar {
  padding-left: 20px;
  width: 100%;
  border: none;
  border-radius: 5px 0px 0px 5px;
  background-color: #e7e7e7;
}
.search-container .search-button {
  border: none;
  border-radius: 0px 5px 5px 0px;
  background-color: #e7e7e7;
}
.search-container .searchbar:focus,
.search-container .search-button:focus {
  outline: none;
}

.recipes-content {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 380px);
  grid-gap: 20px;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  width: 380px;
  margin-bottom: 20px;
}
.card label {
  margin-bottom: 0px;
}
.card .fake-img {
  height: 178px;
  width: 100%;
  background-color: #c7bebe;
}
.card .infos-container {
  height: 200px;
  padding: 10px;
  background-color: #e7e7e7;
}
.card .infos-container .title-time-container {
  line-height: 19px;
  font-size: 18px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.card .infos-container .title-time-container .time-img-container {
  display: flex;
  gap: 5px;
  align-items: center;
}
.card .infos-container .title-time-container .time-img-container img {
  height: 20px;
  width: 20px;
}
.card .infos-container .title-time-container .time-img-container label {
  font-weight: bold;
}
.card .infos-container .ingredients-description-container {
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 12px;
}
.card .infos-container .ingredients-description-container .description {
  width: 40%;
  overflow: scroll;
  height: 125px;
}
.card .infos-container .ingredients-description-container .ingredients-container .ingredient-name-quantity .ingredient-name {
  font-weight: bold;
}

.filters-container {
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 20px;
}
.filters-container .dropdown-toggle::after {
  display: none;
}
.filters-container .filter {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  height: 50px;
  width: 140px;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
}
.filters-container .ingredients-btn {
  background-color: #3282f7;
}
.filters-container .appliances-btn {
  background-color: #68d9a4;
}
.filters-container .ustensils-btn {
  background-color: #ed6454;
}
.filters-container #ingredients-list {
  display: none;
  background-color: #3282f7;
}
.filters-container #ingredients-list .filter-searchbar {
  background-color: #3282f7;
}
.filters-container #ustensils-list {
  display: none;
  background-color: #ed6454;
}
.filters-container #ustensils-list .filter-searchbar {
  background-color: #ed6454;
}
.filters-container #appliances-list {
  display: none;
  background-color: #68d9a4;
}
.filters-container #appliances-list .filter-searchbar {
  background-color: #68d9a4;
}
.filters-container .search-filter {
  position: relative;
  z-index: 999;
  display: flex;
  flex-direction: column;
  max-width: 60%;
  border-radius: 5px;
  padding: 0px 10px 10px 10px;
}
.filters-container .search-filter input {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: none;
  color: white;
}
.filters-container .search-filter input:focus {
  outline: none;
}
.filters-container .search-filter input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}
.filters-container .search-filter .list {
  z-index: 999;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  max-height: 400px;
  overflow: auto;
}
.filters-container .search-filter .list label {
  width: 33%;
  font-size: 18px;
  color: white;
}

/*# sourceMappingURL=index.css.map */
